.dishes {
	&__wrapper {
		// display: flex;
		min-height: calc(100vh - calc(60px + 74 * ((100vw - 320px) / 1600)));
		text-align: center;
	}

	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		@include adaptiv-value("height", 400, 180, 0);
		background-color: #f5f5f5;
	}

	&__container {
		padding: 0 50px;
	}

	&__title {
		display: flex;

		align-items: flex-end;
		@include adaptiv-value("margin-right", 305, 9, 0);

		@include adaptiv-value("padding-top", 96, 15, 0);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 1220px) {
			justify-content: space-around;
		}
	}

	&__column {
		position: relative;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		img {
			@include adaptiv-value("width", 288, 200, 0);
		}
		&:hover {
			transform: scale(1.2);
			.card-title {
				font-size: 36px;
				font-weight: 600;
			}
			.card-text_left,
			.dishes__btn_menu {
				display: inline-flex;
			}
			.card-text_bubble__border{
				position: absolute;
				display: flex;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 1px solid #ffdd63;
				top: -301px;
				left: -33px;
				z-index: -1;
			}
			.card-text_bubble {
				display: flex;
				flex-direction: column;
				width: 80px;
				height: 80px;
				background-color: #ffdd63;
				border-radius: 50%;
				// border: 1px solid red;
				// padding: 10px;
				justify-content: center;
				position: absolute;
				top: -291px;
				left: -23px;
				z-index: -1;
				
			}
			
			.card-text {
				span {
					display: flex;
					flex-direction: column;
					
					align-items: center;

					&::after {
						content: "";
						margin: 0;
						border-bottom: 1px solid #fafafa;
						width: 60px;
					}
				}
			}
			.card {
				margin-bottom: 60px;
			}
		}
	}

	&__btn {
		&_menu {
			// visibility: hidden;
			// width: 0;
			// height: 0;
			margin-right: 28px;

			display: none;
			// display: inline-flex;
		}

		&_order {
		}
	}
}

// .title {
// 	&__block {
// 	font-size: 100px;

// 	}
// }
// .why {
// 	&__rectangle {
// 	}
// }
.card {
}
.card-body {
}
.card-title {
	font-family: Poppins;
	font-size: 22px;
	font-weight: 600;
	// text-align: center;
}
.card-text {
	color: #282630;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;

	span {
		color: #65636a;
		// font-style: normal;
		// letter-spacing: normal;
		// line-height: normal;
		&::after {
			content: "/";
			margin: 0px 10px 0px 10px;
		}
	}
}
.card-text_left {
	display: none;
	justify-content: flex-start;
	text-align: left;
	font-weight: 400;
	color: #65636a;
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
}
.btn {
	border-radius: 25px;
	background-color: #ffdd63;
	width: 82px;
	@include adaptiv-value("height", 43, 35, 0);

	align-items: center;
	justify-content: center;
	border: none;
}

.show {
	display: none;
	background-color: #ffdd63;
	border-radius: 25px;
	margin-bottom: 16px;
	// width: 82px;
	padding: 11px 21px;
	@include adaptiv-value("height", 43, 35, 0);
}


